* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(17, 17, 86);
    color: white;
}

nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(5, 5, 15);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: lavender;
    font-size: 1.04rem;

}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px;
}

.firstsection .leftsection {
    position: relative;
}

.firstsection div {
    width: 30%;
}
.buttons{
    margin-left: 200px;
   
}
.btn{
    background-color: rgb(74, 74, 215);
    
}

.secondsection {
    max-width: 80vw;
    display: flex;
    margin: 130px;
    flex-flow: column;

    height: 80vh;

}

.secondsection h1 {

    font-size: 1.9rem;

}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;

    display: flex;
    flex-flow: row;


}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background: white;
    margin: 0 140px;



}

.image-top {
    height: 40px;
    width: 4opx;
    background-color: orange;
    margin: 3px;
}

.vertical-title {
    width: 20vw;
    font-size: 20px;
    margin-top: 39px;
}

.vertical-desc {
    position: relative;
    width: 150px;
    font-size: 14px;
    color: rgb(207, 195, 219)
}

.leftsection {
    font-size: 2rem;
}



.rightsection img {
    width: 90%;
    margin: 10px;
}

.text-grey {
    color: rgb(184, 73, 73);


}

main hr {
    border: 0;
    background-color: rgb(1, 1, 15);
    height: 1.2px;
    margin: 60px 84px;
}